<section>
  <div class="link-bar hidden-phone">
    <div class="container">
      <div class="link-bar__wrapper">
        <ul class="link-bar__linklist list--unstyled" role="list">
          <li class="link-bar__link-item">
            <a href="{{ routes.account_url }}" class="link-bar__link link--animated">{{ 'customer.orders.title' | t }}</a>
          </li>

          <li class="link-bar__link-item">
            <a href="{{ routes.account_url }}?view=rma_list" class="link-bar__link link--animated">{{ 'customer.general.rma_list' | t }}</a>
          </li>

          <li class="link-bar__link-item">
            <a href="{{ routes.account_url }}?view=order_archive" class="link-bar__link link--animated text--underlined">{{ 'customer.general.order_archive' | t }}</a>
          </li>

          <li class="link-bar__link-item">
            <a href="{{ routes.account_addresses_url }}" class="link-bar__link link--animated">{{ 'customer.addresses.title' | t }}</a>
          </li>

          <li class="link-bar__link-item">
            <a href="{{ routes.account_logout_url }}" class="link-bar__link link--animated text--subdued" data-no-instant>{{ 'customer.logout.title' | t }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mobile-toolbar hidden-tablet-and-up">
    <button class="mobile-toolbar__item" is="toggle-button" aria-expanded="false" aria-controls="account-links-popover">{{ 'customer.general.order_archive' | t }} {%- render 'icon' with 'chevron' -%}</button>
  </div>

  <popover-content id="account-links-popover" class="popover">
    <span class="popover__overlay"></span>

    <header class="popover__header">
      <span class="popover__title heading h6">{{- 'customer.general.title' | t -}}</span>

      <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="popover__content">
      <div class="popover__choice-list">
        <a href="{{ routes.account_url }}" class="popover__choice-item">
          <span class="popover__choice-label">{{ 'customer.orders.title' | t }}</span>
        </a>

        <a href="{{ routes.account_url }}?view=rma_list" class="popover__choice-item">
          <span class="popover__choice-label">{{ 'customer.general.rma_list' | t }}</span>
        </a>

        <a href="{{ routes.account_url }}?view=order_archive" class="popover__choice-item">
          <span class="popover__choice-label" aria-current="true">{{ 'customer.general.order_archive' | t }}</span>
        </a>

        <a href="{{ routes.account_addresses_url }}" class="popover__choice-item">
          <span class="popover__choice-label">{{ 'customer.addresses.title' | t }}</span>
        </a>

        <a href="{{ routes.account_logout_url }}" class="popover__choice-item text--subdued" data-no-instant>
          <span class="popover__choice-label">{{ 'customer.logout.title' | t }}</span>
        </a>
      </div>
    </div>
  </popover-content>

  <div class="account account--order-list">
    <div class="container container--small">
      <div class="page-header page-header--small">
        <div class="page-header__text-wrapper text-container">
          <h1 class="heading h4">{{ 'customer.general.order_archive' | t }}</h1>
        </div>
      </div>

      <div class="page-content page-content--fluid">
        <div class="account__block-list">
          {% render 'order-list' %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Customer account",
  "class": "shopify-section--main-customers-account",
  "blocks": []
}
{% endschema %}